* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
}

.navbar-brand img {
    width: 3rem;
}

#lista-filmes {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;

}

.card {
    padding: 15px;
}

.active {
    font-weight: 600;
}

.hidden {
    display: none;
}